nav{
  margin-left: 20px;
}
#logo{
  text-align: center;
}
body {
  padding-top: 40px;
  background-color: #4A849F;
}

h1 {
  text-align: center;
}

#guthaben {
  font-size: 5em;
  text-align: center;
}

.schrift {
  font-size: 1.5em;
}
div {
  padding: 10px;
}

.abstand{
  margin-left: 3%;
}

input[type="submit" i]{
  padding: 2px 40px;
}

a {
  color: #1B3440;
  text-decoration-line: underline;
}

footer {
  position: absolute;
  left: 50%;
  bottom: 0;
}

.container{
  padding-left: 10%;
  padding-right: 10%;
}
.btn-normal{
  color: #F2845C;
  background-color: #1B3440;
}

#deleteButton{
  float: right;
}

.validation-error {
  border: 1px solid #FF0000!important;
}
.validation-success {
  border: 1px solid #00FF00;
}
