nav{
  margin-left: 20px;
}
#logo{
  text-align: center;
}
body {
  padding-top: 40px;
  background-color: #4A849F;
}

h1 {
  text-align: center;
}

div {
  padding: 10px;
}

.abstand{
  margin-left: 3%;
}

input[type="submit" i]{
  padding: 2px 40px;
}

a {
  color: #1B3440;
}


footer {
  position: absolute;
  left: 50%;
  bottom: 0;
}

.container{
  padding-left: 10%;
  padding-right: 10%;
}
.btn{
  color: #F2845C;
  background-color: #1B3440;
}